{% extends 'crypto/base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">CryptoLists</h1>
        <p class="lead"> Your source for Crypto Information</p>
        <hr class="my-4">
        <p>Your source for Crypto Information</p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Price:</th>
                <th scope="col">Daily High:</th>
                <th scope="col">Daily Low:</th>
                <th scope="col">MarketC ap</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in price.DISPLAY.items %}

                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value.USD.PRICE }}</td>
                    <td>{{ value.USD.HIGHDAY }}</td>
                    <td>{{ value.USD.LOWDAY }}</td>
                    <td>{{ value.USD.MKTCAP }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>




    <div class="container">
        <div class="row">
            {% for x in api.Data %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ x.title }}</h5>
                            <p class="card-text">{{ x.body }}</p>
                            <a href="{{ x.url }}" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                    <br/>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}